.container {
    width: 100%;
    margin-top: 10%;
}

.dialog_close_btn {
    font-size: .75em;
    position: absolute;
    top: .25em;
    right: .25em;
  }

.close_container {
    background: none;
    margin-bottom: 20px;
}

.image_container {
    background: none;
}


@media screen and (min-width: 780px) {
    .dialog {
        width: 60%;
        padding: 1rem;
    }
}


.dialog {
    border: 0;
    border-radius: 0.5rem;
    position: relative;
  }
  
  .dialog::backdrop {
    background: hsl(0 0% 0% / 50%);
  }

  .close {
    width: 2.5rem;
    border-radius: 10px;
    height: 2.5rem;
    cursor: pointer;
  }
.container_1 {
    margin-top: 10px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.skills {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-gap: 5px;
}

.item_container {
    width: 80%;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}

@media screen and (min-width: 780px){
    .container {
        width: 100%;
        margin-top: 10%;
    }

    .container_1 {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .item_container {
        width: 60%;
        padding: 15px;
        border-radius: 15px;
    }
}


.item_container:hover {
    box-shadow: #800080 0px 7px 29px 0px;
}

.item_container h4, p {
    color: #fff;
}
